body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .main-login {
    width: 100vw;
    height: 100vh;
    background: #01092b;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-login {
    width: 50vw;
    height: 50vh;
    color: #559ac2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  
  .card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #01092b;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #000002;
  }
  
  .card-login h1 {
    margin-top: 0;
    margin-bottom: 20px;

  }
  
  .textfield {
    text-align: left;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #888;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
  }
  
  button.btn-login {
    width: 100%;
    background: #ffa700;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button.btn-login:hover {
    background: #ffcf33;
  }